<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Shopping Cart</h1>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="productEntity : ${cart.products}">
                <td th:text="${productEntity.key.name}"></td>
                <td th:text="${productEntity.key.price}"></td>
                <td>
                    <form th:action="@{/cart/update}" method="post">
                        <input type="hidden" th:name="productId" th:value="${productEntity.key.id}" />
                        <input type="number" th:name="quantity" th:value="${productEntity.value}" />
                        <input type="submit" value="Update" />
                    </form>
                </td>
                <td th:text="${productEntity.key.price * productEntity.value}">Total Price</td>
            </tr>
        </tbody>
    </table>
   
    <!-- Continue Shopping button -->
    <form th:action="@{/continue-shopping}" method="get">
        <input type="submit" value="Continue Shopping" />
    </form>
    <a th:href="@{/checkout}">Checkout</a>
    
</body>
</html>
