<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout</h1>
    <form th:action="@{/checkout}" th:object="${checkout}" method="post">        
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" readonly><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required><br><br>
        
        <label for="address">Address:</label>
        <textarea id="address" th:field="*{address}" required></textarea><br><br>
        
        <label for="totalAmount">Total Due:</label>
        <input type="text" id="totalAmount" th:value="${#numbers.formatDecimal(cart.totalAmount, 1, 2)}" readonly><br><br>

        <label for="shipmentMethod">Shipment Method:</label><br>
        <input type="radio" id="standard" name="shipmentMethod" value="standard" required>
        <label for="standard">Standard - Add $20</label><br>
        <input type="radio" id="express" name="shipmentMethod" value="express" required>
        <label for="express">Express - Add $40</label><br>
        <input type="radio" id="nextDay" name="shipmentMethod" value="nextDay" required>
        <label for="nextDay">Next Day - Add $120</label><br><br>

        <label for="FinalPrice">Amount to pay:</label>
        <input type="text" id="FinalPrice" th:value="${#numbers.formatDecimal(checkout.finalPrice, 1, 2)}" readonly><br><br>
        
        <label for="paymentMethod">Payment Method:</label><br>
        <input type="radio" id="credit" name="paymentMethod" th:field="*{paymentMethod}" value="credit" required>
        <label for="credit">Credit Card</label>
        <input type="radio" id="debit" th:field="*{paymentMethod}" value="debit" required>
        <label for="debit">Debit Card</label>
        <input type="radio" id="paypal" th:field="*{paymentMethod}" value="paypal" required>
        <label for="paypal">PayPal</label>

        <input type="submit" value="Place Order">
    </form>
    <!-- Button to 'orderMessage.html', visible only after successful order placement -->
    <div th:if="${orderPlaced != null}">
        <p>Thank you for your order!</p>
        <button onclick="window.location.href='@{/order-message}'">View Order Details</button>
    </div>
</body>
</html>
