<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href=" /img/favicon.png" type="image/x-icon">
        <title>Home</title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/jquery.mmenu.all.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    </head>
    <body class="show-chatbot">
        <header class="main_header">
            <div class="container d-flex align-items-center justify-content-between">
                <div id="logo">
                    <a href="/"><img src="/img/logo.png" alt="Company Logo" width="150" height="120"></a>
                </div>
                
                <nav class="main-menu d-none d-lg-block">
                    <ul class="nav">
                        <li class="nav-item"><a href="/product" class="nav-link">Browse Products</a></li>
                        <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
                        <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
                    </ul>
                </nav>
                
                <div class="contact-logout">
                    <a class="phone_top" href="tel:+1234567890">+1 123 456 7890</a>
                    <form action="/logout" method="post" class="d-inline">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                        <button type="submit" class="btn">Logout</button>
                    </form>
                </div>
            </div>
        </header>

        <div id="carousel-home">
            <div class="owl-carousel owl-theme">
                <div class="owl-slide cover" style="background-image: url( /img/dc1.jpg);"></div>
                <div class="owl-slide cover" style="background-image: url( /img/DrMartens_banner.jpg);"></div>
                <div class="owl-slide cover" style="background-image: url( /img/timberland_joder_4x.jpg);"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title">Welcome to Trendy Treads</h2>
                    <p> Welcome to Trendy Treads – where every step you take is a statement of style and comfort! Here, 
                        we believe that the right pair of shoes can light up your day, carry you through life's adventures,
                         and express your unique personality. As you stand next to our collection, imagine the aisles as runways, 
                         showcasing footwear that's both fashionable and functional, crafted just for you. So step on in and find 
                         your perfect fit – your journey to incredible style starts here!
                    </p>
                    <img class="signature-image" src=" /img/sign.png" alt="sign" >
                </div>
                <div class ="col-md-6">
                    <img src=" /img/nike5.png" alt="nike" >
                </div>
            </div>

            <button class="chatbot-toggler">
                <img src=" /img/open.png" class="open-icon" alt="Open Chat">
                <img src=" /img/close.png" class="close-icon" alt="Close Chat" style="display: none;">
            </button>

        <div class="chatbot">
            <header>
                <h2>Chatbot</h2>
                <img src=" /img/close.png"class="close-btn" alt="Close">
            </header>
            <ul class="chatbox">
                <li class="chat incoming">
                    <img src=" /img/ai.png" class="robot-icon" alt="Smart Toy">
                    <p>Hey there! 👋 Shopping for shoes can sometimes feel like you're running a marathon, right? But guess what? I've got your back! 🎉 Imagine me as your personal shopping buddy, here to make finding that perfect pair of kicks as easy as pie. 🥧 <br>
Need something comfy for daily jogs? Or maybe some snazzy heels for a night out? Just hit me up! 🏃‍♀️💃 I'll guide you through our virtual aisles, find the best deals, and hey, we might even share a laugh or two along the way. 😄<br> 
And don't worry about getting lost in a sea of choices. I'll help you filter them down like a pro. Before you know it, you'll be clicking 'buy' on your dream shoes. So, ready to chat and shop? Let's lace up and get started! 🛍️👟
                    </p>
                </li>
            </li>
            </ul>
            <div class="chat-input">
            <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
            <span id="send-btn" class="material-symbols-rounded">send</span>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src=" /js/script.js"></script>
        <script src=" /js/Chatscript.js"></script>
</body>

<footer class="main_footer">
    <p>Kael S. Moreira G., Seda Dadak, Aibiike Omurzakova, Phuong Uyen Dang © 2023 - All Rights Reserved</p>
</footer>
</html>
