<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href=" /img/favicon.png" type="image/x-icon">
        <title>Cart</title>
        <link rel="stylesheet" href=" /css/prod.css">
        <link rel="stylesheet" href=" /css/bootstrap.css">
        <link rel="stylesheet" href=" /css/jquery.mmenu.all.css">
        <link rel="stylesheet" href=" /css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

       
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${product}">
                    <td th:text="${product.name}">Product Name</td>
                    <td th:text="${'$' + product.price}">Product Price</td>
                    <td>
                        <!-- Link to the product detail page -->
                        <a th:href="@{'/productDetails/' + ${product.id} }">View Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/home">Back to Home</a>
    </body>
    <footer class="main_footer">
        <p>Kael S. Moreira G., Seda Dadak, Aibiike Omurzakova, Phuong Uyen Dang © 2023 - All Rights Reserved</p>
    </footer>
</html>
