body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.order-confirmation {
    text-align: center;
    margin-top: 20px;
}

.order-confirmation button {
    background-color: #337ab7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-confirmation button:hover {
    background-color: #286090;
}

.main_footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    font-size: 0.9rem; 
    font-style: italic; 
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0; 
    width: 100%; 
}

.main_footer p {
    margin: 0;
    color: white;
}