body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    font-size: 1.1em;
}

strong {
    color: #000;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.main_footer {
    background-color: black; /* Footer background color */
    color: white; /* Footer text color */
    text-align: center; /* Centers the text */
    padding: 20px 0; /* Adds padding above and below the text */
    font-size: 0.9rem; /* Smaller font size */
    font-style: italic; /* Italic text style */
    position: absolute; /* Takes the footer out of the document flow */
    bottom: 0; /* Positions the footer at the bottom */
    left: 0;
    right: 0; /* Stretches the footer to the left and right edges */
    width: 100%; /* Ensures the footer is the full width of the viewport */
}

.main_footer p {
    margin: 0; /* Removes default margin */
    color: white;
}