body {
    background-color: aqua;
}
.main-menu .nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.main-menu .nav .nav-item .nav-link {
    padding: .5rem 1rem;
    color: #333;
}

.contact-logout {
    display: flex;
    align-items: center;
    gap: 15px; 
}

form[action="/logout"] .btn {
    background-color: #48ceaf; 
    border-color: #48ceaf;
}


.phone_top {
    color: #333; 
    text-decoration: none;
}


@media (max-width: 768px) {
    .main-menu {
        display: none;
    }
    .contact-logout {
        flex-direction: column;
        align-items: flex-end;
    }
}

.main_header {
    z-index: 10;
    position: relative;
}


#carousel-home .owl-carousel .owl-slide {
    height: 500px; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


#carousel-home .owl-carousel {
    height: 500px; 
}

.owl-slide-animated {
    z-index: 2; 
}


.owl-carousel .owl-dots .owl-dot,
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    background: #48ceaf; 
}


.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
    z-index: 5; 
}

.main_footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    font-size: 0.9rem; 
    font-style: italic; 
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0; 
    width: 100%; 
}

.main_footer p {
    margin: 0; 
}

.container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 50px; 
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.col-md-6 {
    margin-bottom: 30px; 
}

.container .row .col-md-6 {
    flex: 0 0 50%; 
    max-width: 50%; 
}

.col-md-6 p {
    font-size: 1.25rem; 
    line-height: 1.6; 
    color: #555; 
}

.col-md-6:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.container .row .col-md-6:first-child {
    padding-right: 15px; 
}

.container .row .col-md-6 img {
    height: auto;
    display: block; 
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem; 
    }

    .col-md-6 {
        flex-basis: 100%; 
        margin-bottom: 20px; 
    }
}

.signature-image {
    max-width: 200px; 
    display: block; 
    margin: 20px auto; 
    height: auto; 
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333; 
    background: #ccc;
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.sticknote::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 412px;
    border-top: 10px solid #ffeb3b;
    border-left: 8px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.sticknote {
    background-color: #ffeb3b;
    padding: 10px;
    width: 422px;
    height: fit-content;
    margin-bottom: 30px;
    border: 2px solid #ffc107;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-left: 10px;
    margin-top: 50px;
}

.sticknote p {
    margin: 0;
    padding-top: 8px;
    font-weight: bold;
}


.sticknote::after {
    content: "";
    position: absolute;
    top: -2%;
    left: 194px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}  


#carousel-home .owl-carousel .owl-slide {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px; 
}


#carousel-home .owl-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#carousel-home .owl-carousel .owl-dot {
    background: #48ceaf; 
    opacity: 0.7;
    transition: opacity 0.3s;
}

#carousel-home .owl-carousel .owl-dot.active {
    opacity: 1;
}

#carousel-home .owl-carousel .owl-dot:not(.active) {
    background: #fff; 
}

.main-menu {
    z-index: 10;
}

@media (max-width: 768px) {
    .main-menu ul {
        flex-direction: column; 
    }
}


.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #9fcefa;
    transition: all 0.2s ease;
    z-index: 9999;
    font-size: 24px;
    color: #FFF;
}

.chatbot-container {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 9999; 
}

.chatbot-image {
    width: 100px; 
    height: auto; 
    display: block; 
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    color: #181717;
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot {
    z-index: 9998;
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #d3e6f3;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    background: #9fcefa;
    color: #272727;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
    margin: 0;
    color: #272727;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbot header .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.chatbot-toggler img,
.chatbot header img.close-btn,
.chatbox li.chat img.robot-icon {
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 24px; 
    height: auto;
}


.chatbot-toggler img.close-icon {
    display: none;
}

body.show-chatbot .chatbot-toggler img.open-icon {
    display: none;
}

.open-icon, .close-icon {
    width: 24px; 
    height: auto;
}

body.show-chatbot .chatbot-toggler img.close-icon {
    display: inline;
}

.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #181717;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #9fcefa;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #272727;
    font-size: 0.95rem;
    background: #9fcefa;    
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
    background: #f2f2f2;
    color: #272727;
}

.chatbox .chat p.error {
    background: #f2dede;
    color: #a94442;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f7f2f2;
    padding: 3px 20px;
    border-top: 1px solid #f7f2f2;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
    background: #f7f2f2;
}

.chat-input span {
    align-self: flex-end;
    color: #181717;
    background: #9fcefa;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
}