
.main-menu .nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.main-menu .nav .nav-item .nav-link {
    padding: .5rem 1rem;
    color: #333;
}

.contact-logout {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-danger {
    background-color: #dc3545;
}
.main_fi
.btn-danger:hover {
    background-color: #c82333;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-secondary a {
    color: white;
    text-decoration: none; 
    display: block; 
}

.profile-form {
    margin-bottom: 10px;
}

.profile-message,
.profile-error {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    color: white;
}

.profile-message {
    background-color: #28a745;
}

.profile-error {
    background-color: #dc3545;
}

form[action="/logout"] .btn {
    background-color: #48ceaf; 
    border-color: #48ceaf; 
    
}

.phone_top {
    color: #333; 
    text-decoration: none;
}


@media (max-width: 768px) {
    
    .main-menu {
        display: none;
    }
    .contact-logout {
        flex-direction: column;
        align-items: flex-end;
    }
}

.main_header {
    z-index: 10;
    position: relative;
}


#carousel-home .owl-carousel .owl-slide {
    height: 500px; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


#carousel-home .owl-carousel {
    height: 500px; 
}

.owl-slide-animated {
    z-index: 2; 
}

.owl-carousel .owl-dots .owl-dot,
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    background: #48ceaf; 
}

.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
    z-index: 5; 
}

.main_footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    font-size: 0.9rem; 
    font-style: italic; 
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0; 
    width: 100%; 
}

.main_footer p {
    margin: 0; 
}

.container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 50px; 
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.col-md-6 {
    margin-bottom: 30px; 
}

.container .row .col-md-6 {
    flex: 0 0 50%; 
    max-width: 50%; 
}

.col-md-6 p {
    font-size: 1.25rem; 
    line-height: 1.6; 
    color: #555; 
}

.col-md-6:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.container .row .col-md-6:first-child {
    padding-right: 15px; 
}

.container .row .col-md-6 img {
    height: auto; 
    display: block; 
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem; 
    }

    .col-md-6 {
        flex-basis: 100%;
        margin-bottom: 20px; 
    }
}

.signature-image {
    max-width: 200px; 
    display: block; 
    margin: 20px auto; 
    height: auto; 
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333; 
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f7;
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-top: 10em;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center; 
}

.login-form .logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.login-title {
    margin-bottom: 20px;
}

.form-fields input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #48ceaf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #296e5e;
}

.register-link {
    color: #296e5e;
    text-decoration: none;
    display: inline-block; 
    margin-top: 15px;
}

.register-link:hover {
    text-decoration: underline;
}

.register-container {
    width: 100%;
    margin-top: 10em;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center; 
}
 
a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
}

.register-form .logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.register-title {
    margin-bottom: 20px;
}

.form-fields input,
.form-fields .select-role {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-fields .select-role {
    display: block; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #48ceaf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #296e5e;
}

.auth-container {
    padding: 20px;
}

.auth-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.auth-card .logo {
    width: 100px;
    margin-bottom: 20px;
}

.auth-card h2 {
    margin-bottom: 10px;
}

.auth-card p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #48ceaf;;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #296e5e;;
}

.login-link {
    color: #0056b3;
    text-decoration: none;
    display: inline-block; 
    margin-top: 15px;
}

.login-link:hover {
    text-decoration: underline;
}

.login-error {
    color: red;
    margin-bottom: 15px;
}

#carousel-home .owl-carousel .owl-slide {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px; 
}


#carousel-home .owl-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#carousel-home .owl-carousel .owl-dot {
    background: #48ceaf; 
    opacity: 0.7;
    transition: opacity 0.3s;
}

#carousel-home .owl-carousel .owl-dot.active {
    opacity: 1;
}

#carousel-home .owl-carousel .owl-dot:not(.active) {
    background: #fff; 
}

.main-menu {
    z-index: 10;
}


@media (max-width: 768px) {
    .main-menu ul {
        flex-direction: column; 
    }
}


.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #9fcefa;
    transition: all 0.2s ease;
    z-index: 9999;
    font-size: 24px;
    color: #FFF;
}

.chatbot-container {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 9999; 
}

.chatbot-image {
    width: 100px; 
    height: auto; 
    display: block; 
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    color: #181717;
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot {
    z-index: 9998;
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #d3e6f3;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    background: #9fcefa;
    color: #272727;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
    margin: 0;
    color: #272727;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbot header .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.chatbot-toggler img,
.chatbot header img.close-btn,
.chatbox li.chat img.robot-icon {
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}

.close-btn {
    
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 24px; 
    height: auto;
}


.chatbot-toggler img.close-icon {
    display: none;
}

body.show-chatbot .chatbot-toggler img.open-icon {
    display: none;
}

.open-icon, .close-icon {
    width: 24px; 
    height: auto;
}

body.show-chatbot .chatbot-toggler img.close-icon {
    display: inline;
}

.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #181717;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #9fcefa;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #272727;
    font-size: 0.95rem;
    background: #9fcefa;    
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
    background: #f2f2f2;
    color: #272727;
}

.chatbox .chat p.error {
    background: #f2dede;
    color: #a94442;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f7f2f2;
    padding: 3px 20px;
    border-top: 1px solid #f7f2f2;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
    background: #f7f2f2;
}

.chat-input span {
    align-self: flex-end;
    color: #181717;
    background: #9fcefa;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
}


#order-confirmation {
    text-align: center;
    padding: 40px;
    background-color: #ece5e5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

.order-title {
    color: #27ae60;
    font-size: 24px;
    margin-bottom: 20px;
}

.order-message {
    color: #333;
    font-size: 16px;
    margin-bottom: 30px;
}

.back-home {
    background-color: #27ae60;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.back-home:hover {
    background-color: #2ecc71;
}

@keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  .icon--order-success svg {
    animation: stroke 0.6s ease forwards, scale 0.3s ease 0.6s both;
  }

  .icon--order-success circle {
    stroke-dasharray: 240px;
    stroke-dashoffset: 240px;
    animation-delay: 0.3s; 
  }

  .icon--order-success path {
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
  }


@media (max-width: 768px) {
    #order-confirmation {
        padding: 20px;
    }

    .order-title {
        font-size: 20px;
    }

    .order-message {
        font-size: 14px;
    }

    .back-home {
        padding: 8px 10px;
    }
}

.error-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
    text-align: center;
    margin-top: 10em;
}


.error-image {
    max-width: 600px;
    height: auto;
    margin-bottom: 30px;
}


.error-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}


.error-message {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

.bg_gray {
    background-color: #f7f7f7;
}


.justify-content-center {
    justify-content: center;
}


.text-center {
    text-align: center;
}

* {
	box-sizing:border-box;
}


.post-it {
    width: 256px;
    height: 218px;
    position: relative;
    background: #ffa;
    overflow: hidden;
    margin-right: 20em;
    text-align: center;
    margin: 97px;
    padding: 20px;
    border-radius: 0 0 0 26px/45px;
    box-shadow: inset 0 -40px 40px rgba(0,0,0,0.2), inset 0 25px 10px rgba(0,0,0,0.2), 0 5px 6px 5px rgba(0,0,0,0.2);
    font-family: 'Permanent Marker', cursive;
    line-height: 1.7em;
    font-size: 19px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    color: #130d6b;
}
.post-it li {
 	cursor:pointer; 
}

.post-it:before {
 	content:"";
  display:block;
  position:absolute;
  width:20px;
  height:25px;
  background:#ffa;
  box-shadow:
    3px -2px 10px rgba(0,0,0,0.2),
    inset 15px -15px 15px rgba(0,0,0,0.3);
  left:0;
  bottom:0;
  z-index:2;
  transform:skewX(25deg);
}

.post-it:after {
 	content:"";
  display:block;
  position:absolute;
  width:75%;
  height:20px; 
  border-top:3px solid #130d6b;
  border-radius: 50% ;
  bottom:0px;
  left:10%;
}

.done {
 	text-decoration:line-through; 
}