<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New</title>
</head>
<body>
    <h1>Add New Brand/Product</h1>
    
    <!-- Form for adding a new brand -->
    <form action="/addBrand" method="post">
        <input type="text" name="brandName" placeholder="Brand Name" required>
        <button type="submit">Add Brand</button>
    </form>

    <!-- Form for adding a new product -->
    <form action="/addProduct" method="post">
        <input type="text" name="productName" placeholder="Product Name" required>
        <input type="number" name="price" placeholder="Price" required>
        <input type="number" name="Stock" placeholder="Stock" required>
        <!-- Assuming you need to select a brand for a product -->
        <select name="brandId">
            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
        </select>
        <button type="submit">Add Product</button>
    </form>

    <a href="/management"><button>Back to Management</button></a>
</body>
</html>
