<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <h1>Update Brand/Product</h1>
    
    <!-- Form for updating a brand -->
    <form action="/updateBrand" method="post">
        <input type="hidden" name="brandId" th:value="${brand.id}"/> <!-- You'll set this value when selecting the brand to update -->
        <input type="text" name="brandName" placeholder="New Brand Name" required>
        <button type="submit">Update Brand</button>
    </form>

    <!-- Form for updating a product -->
    <form action="/updateProduct" method="post">
        <input type="hidden" name="id" th:value="${product.id}" /> <!-- You'll set this value when selecting the product to update -->
        <input type="text" name="productName" placeholder="New Product Name" required>
        <button type="submit">Update Product</button>
    </form>
    
    <a href="/management"><button>Back to Management</button></a>
</body>
</html>
